<?xml version="1.0"?>
<configuration>

  <location path="Main.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewCase.aspx">
    <system.web>
      <authorization>
        <allow roles="Patient"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Case.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
